* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #cc212a;
    --font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 70%;
    padding-bottom: 50%;
}

.title {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 4.0rem;
    
}

footer {
    border-top: 0.3rem solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.0rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10.0rem;
}

.logo {
    background-color: var(--primary-color);
    color: white;
    padding: 1.8rem;
    border-radius: 50%;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 2.0rem;
    order: -1;
    z-index: 100;
    position: absolute;
    bottom: 7.0rem;

}

p {
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 300;
}

@media (>700px) {
    .logo{
        position: static;
    }
}