* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #cc212a;
    --font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 50%;
    padding-bottom: 50%;
}

.title {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 4.0rem;
    
}

footer {
    border-top: 0.3rem solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.0rem;
}

.logo {
    background-color: var(--primary-color);
    color: white;
    padding: 2.0rem;
    border-radius: 50%;
    font-size: 2.0rem;
    order: -1;
}